.card {
    border-radius: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.card,
.card-footer {
    background-color: #ffffA5;
    border: none;
}

.card.completed,
.card.completed .card-footer {
    background-color: #eee;
    color: #ccc;
}

.card.completed i {
    color: green;
}

.card.completed .card-footer {
    text-align: right;
}

i {
    color: #cc0000;
    padding-right: .5rem;
}